<div class="main">

    <div class="main__top">
        <app-header-page [title]="'Login'"></app-header-page>
    </div>

    <div class="main__mid">
        <form>
            <app-primary-input 
                [type]="'email'" 
                [placeholder]="'Email'">
            </app-primary-input>

            <app-primary-input 
                [type]="'password'" 
                [placeholder]="'Password'">
            </app-primary-input>

            <span class="forgetPassword">Esqueci minha senha</span>
        </form>
    </div>

    <div class="main__bottom">
        <app-action-button [label]="'Logar'" (onClickEmmit)="onClick()"></app-action-button>
    </div>

</div>