<div class="main">

    <div class="main__top">
        <app-header-page [title]="'Login'"></app-header-page>
    </div>

    <div class="main__mid">
        <div action="" class="main__form">
            <input type="email" placeholder="Email" class="main__input" [(ngModel)]="account.email">
            <input type="password" placeholder="Password" class="main__input" [(ngModel)]="account.password">
        </div>

        <p class="main__forgetPassword">Esqueci minha senha</p>
    </div>

    <div class="main__bottom">
        <app-action-button [label]="'Logar'" (onClickEmmit)="onClick()"></app-action-button>
    </div>

</div>