<app-default-login-layout
    title="Login"
    btnText="Login"
    pageType="Login"
    (submit)="submit()"
>
    <form>
        <app-primary-input 
            [type]="'email'" 
            [placeholder]="'Email'"
            (value)="setEmail($event)">
        </app-primary-input>

        <app-primary-input 
            [type]="'password'" 
            [placeholder]="'Senha'"
            (value)="setPassword($event)">
        </app-primary-input>

        <span class="forgetPassword">Esqueci minha senha</span>
    </form>
</app-default-login-layout>