<app-default-login-layout
    title="Cadastro"
    btnText="Cadastrar"
    pageType="Signup"
    (submit)="submit()"
>
    <form>

        <app-primary-input 
            [type]="'text'" 
            [placeholder]="'Nome'"
            (value)="setName($event)">
        </app-primary-input>

        <app-primary-input 
            [type]="'email'" 
            [placeholder]="'Email'"
            (value)="setEmail($event)">
        </app-primary-input>

        <app-primary-input 
            [type]="'password'" 
            [placeholder]="'Senha'"
            (value)="setPassword($event)">
        </app-primary-input>

        <app-primary-input 
            [type]="'password'" 
            [placeholder]="'Confirme sua Senha'"
            (value)="setConfirmPassword($event)">
        </app-primary-input>

    </form>
</app-default-login-layout>