<div class="main">
    <div action="" class="main__form">
        <input type="email" placeholder="Email" 
        class="main__input" [(ngModel)]="account.email">

        <input type="password" placeholder="Password" 
        class="main__input" [(ngModel)]="account.password">

        <input type="password" placeholder="Confirm password" 
        class="main__input" [(ngModel)]="account.password"
        *ngIf="mode === 'register'">
    </div>

    <p class="main__forgetPassword">Esqueci minha senha</p>
</div>